# Normalize line endings for all files detected as text (fallback)
* text=auto

# Ensure scripts are LF
*.sh text eol=lf

# Normalize line endings and give Markdown diff hints
*.md text eol=lf diff=markdown
